.progress{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
}

.progress .head{
    padding-top: 20px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px 15px 0px 0px;
}