<div class="card">
    <div class="card-header pointer" id="heading_${username}" data-toggle="collapse" data-target="#collapse_${username}" aria-expanded="true" aria-controls="collapse_${username}">
        <h4 class="left">${username}</h4>
        <div class="right" id="additional_${username}"></div>
    </div>
    <div id="collapse_${username}" class="collapse">
        <div id="card_body_${username}" class="card-body">
        </div>
        <div id="today_total_${username}" class="right">
            <input type="hidden" value="0" id="total_timestamp_${username}"/>
            총 :
            <span id="total_time_${username}"></span>
        </div>
    </div>
</div>